.content {
  position: relative;
  width: 100%;
  color: white;
}

.homeVideo {
  object-fit: cover;
}

.homeVideoTextContainer {
  z-index: 100;
}

.videoContainer {
  position: relative;
  top: -100px;
}